#
# Test the source for formatting and code check (pass/fail)
#

name: Linting

on: push

jobs:

  flake8-lint:
    runs-on: ubuntu-latest
    name: Flake8 code check
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: py-actions/flake8@v2
        with:
          path: "src/ tests/"
          plugins: "flake8-bugbear flake8-black flake8-isort"
