#
# Test the source for formatting and code check (pass/fail)
#

name: Linting

on: push

jobs:

  flake8-lint:
    runs-on: ubuntu-latest
    name: Flake8 code check
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: abatilo/actions-poetry@v4
        with:
          poetry-version: "2.3.1"
      - run: |
          poetry install --only dev
          poetry run flake8 src/ tests/
